<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="claro.cautnew.shoppingcart">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Meu Veículo"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".actListCadComb"
            android:label="@string/title_activity_act_cad_comb"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".cadComb"
            android:label="@string/title_activity_cad_comb"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".lancAbast" />
        <activity android:name=".mediaLanc"></activity>
    </application>

</manifest>